<header class="c-header">
    <div class="c-header__container">
        <div class="c-header__logo">
            <a href="/"><img src="/assets/images/strawdog-logo.png" alt="Strawdog Theatre logo" /></a>
        </div>
        <div class="c-header__links">
            <div class="c-header__nav">
                {% set entries = craft.entries.section('pages').all() %}
                <nav class="main-nav">
                    <ul class="nav-menu">
                        {% nav entry in entries %}
                            <li class="nav-item">
                                <a href="{{ entry.url }}">{{ entry.title }}</a>
                                {% ifchildren %}
                                     <div class="sub-nav">
                                        <ul class="sub-nav-group">
                                            {% children %}
                                        </ul>
                                    </div>
                                {% endifchildren %}
                            </li>
                        {% endnav %}
                    </ul>
                </nav>
            </div>
            <div class="c-header__nav__ctas">
                <ul>
                    <li>
                        <a class="btn btn--gold" href="/support-us">Donate</a>
                    </li>
                    <li>
                        <a class="btn btn--white" target="_blank" noopener noreferrer href="https://red.vendini.com/ticket-software.html?t=tix&w=419335c6ab7a2ea55ebc2cb30c396d54">Buy Tickets</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
