{% set transformedImage = craft.imager.transformImage(image, imageResizes) %}
{% if craft.imager.serverSupportsWebp() %}
    {% set transformedImageWebp = craft.imager.transformImage(transformedImage, imageResizes, { format: 'webp' }) %}
{% endif %}
<picture>
    {% if craft.imager.serverSupportsWebp() %}
        <source srcset="{{ craft.imager.srcset(transformedImageWebp) }}" type="image/webp">
    {% endif %}
    <img src="{{ transformedImage[0].url }}" srcset="{{ craft.imager.srcset(transformedImage) }}" sizes="{{ srcSizes }}" alt="{{ image.title }}">
</picture>
