{% extends "_layout" %}
{% block content %}

    <main id="main" class="c-show">
        <div class="c-hero">
            <div class="c-hero__container">
                <div class="c-hero__image">
                    {% set image = entry.showMainImage.one() %}
                    {% set imageResizes = [{ width: 1200, height: 400, mode: 'crop', position: image.getFocalPoint() }, { width: 600, height: 200, mode: 'crop', position: image.getFocalPoint() }] %}
                    {% set srcSizes = '(max-width: 640px) 640px, (max-width: 768) 768px, 1100px' %}
                    {% include '_partials/image' %}
                </div>
                <div class="c-hero__copy">
                    <h1>{{ entry.title | typogrify }}</h1>
                </div>
            </div>
        </div>

        {% if image.photoCredit | length %}
            <div class="c-show__hero-credit">
                <span class="photo-credit">Photo credit: {{ image.photoCredit }}</span>
            </div>
        {% endif %}

        <div class="c-show__detail">
            <div class="c-show__detail__info">
                <span class="by">{{ entry.showBy }}</span>
                {% set season = entry.showSeason.one() %}
                <p class="season"><a href="{{ season.url }}">Season {{ season.title }}</a></p>
                {{ entry.showStartDate|date }} &ndash; {{ entry.showEndDate|date }}

                {% set currentDate = "now"|date('Y-m-d') %}
                {% set endDate = entry.showEndDate|date('Y-m-d') %}

                {% if currentDate < endDate %}
                    <span class="times">{{ entry.showTimes }}</span>
                    <p>{{ entry.showTicketPrices }}</p>
                    {% if entry.showTicketsUrl | length %}
                        <a class="btn" target="_blank" rel="noopener noreferrer" href="{{ entry.showTicketsUrl }}">Buy Tickets</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="c-show__detail__description">
                {{ entry.showDescription | typogrify }}
            </div>
        </div>

        {% if entry.showReviews | length %}
            <div class="c-show__reviews">
                <div class="c-show__reviews__container">
                    {% for block in entry.showReviews.all() %}
                        <div class="c-show__reviews__item">
                            {{ block.showReview |typogrify }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if entry.showCast | length %}
            <div class="c-show__cast">
                <h2>Cast</h2>
                <div class="c-show__cast__container">
                    {% for block in entry.showCast.all() %}
                        {% set castMember = block.castMember.one() %}
                        {% if castMember.companyEnsembleMember %}
                            <a class="c-show__cast__member ensemble" href="{{ castMember.url }}">
                        {% else %}
                            <div class="c-show__cast__member">
                        {% endif %}
                            <div class="c-show__cast__member__image">
                                {% set castImage = castMember.companyHeadshot.one() %}
                                {% if castImage | length %}
                                    {% set image = castMember.companyHeadshot.one() %}
                                    {% set imageResizes = [{ width: 200, height: 200, mode: 'crop', position: castImage.getFocalPoint() }] %}
                                    {% set srcSizes = '200px' %}
                                    {% include '_partials/image' %}
                                {% else %}
                                    <img src="/cms/images/company/user-placeholder.png" />
                                {% endif %}
                            </div>
                            <p class="cast-member {% if castMember.companyEnsembleMember %} strawdog{% endif %}">{{ castMember.title }}{% if castMember.companyEnsembleMember %}<span class="asterisk">*</span>{% endif %}</p>
                            {% if block.characterName | length %}<p>as {{ block.characterName }}</p>{% endif %}
                        {% if castMember.companyEnsembleMember %}
                            </a>
                        {% else %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if entry.showCrew | length %}
            <div class="c-show__crew">
                <h2>Crew</h2>
                <div class="c-show__crew__container">
                    {% for block in entry.showCrew.all() %}
                        {% set crewMember = block.crewName.one() %}
                        <p><span class="crew-member">{% if crewMember.companyEnsembleMember %}<a href="{{ crewMember.url }}">{% endif %}{{ crewMember.title }}{% if crewMember.companyEnsembleMember %}<span class="asterisk">*</span></a>{% endif %}</span><br />
                        {{ block.crewTitle }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        {% if entry.showCrew | length or entry.showCast | length %}
            <div class="c-show__asterisk">
                <p>* Strawdog Theatre ensemble member</p>
            </div>
        {% endif %}
    </main>

{% endblock %}
