{% extends "_layout" %}
{% block content %}
    <main id="main" class="c-supporters">
        <div class="c-supporters__container">
            <div class="c-supporters__contact">
                <div class="c-supporters__sticky">
                    {{ entry.supportersContact }}
                </div>
            </div>
            <div class="c-supporters__list">
                <h1>{{ entry.title }}</h1>
                {{ entry.supportersList | typogrify }}
            </div>
        </div>
    </main>
{% endblock %}
