{% extends "_layout" %}
{% block content %}
    <main id="main" class="c-home">
        <h1 class="accessibility-only">Home</h1>
        <section class="c-home__current">
            {% set seasonsCat = craft.categories().group('seasons').limit(1).all() %}
            {% include '_partials/page/season-hero' %}
            <div class="c-home__current__shows">
                {% set entries = craft.entries.relatedTo(seasonsCat).all() %}
                {% for entry in entries %}
                    <div class="c-home__current__show"
                    {% if entry.showStartDate %}
                        {% if entry.showStartDate | date("m/d/Y")  <= "now" | date("m/d/Y") and entry.showEndDate | date("m/d/Y") >= "now" | date("m/d/Y") %}
                            c-home__current__show--current
                        {% endif %}
                    {% endif %}
                    ">
                        <a class="c-home__current__show__main" href="{{ entry.url }}" title="Learn more about {{ entry.title }}">
                            <div class="c-home__current__show__title">
                                <h3>{{ entry.title | typogrify }}</h3>
                                {% if entry.showStartDate | length %}
                                    <p class="date">{{ entry.showStartDate | date }}&ndash;{{ entry.showEndDate | date }}</p>
                                {% else %}
                                    <p class="date">Check back for dates!</p>
                                {% endif %}
                            </div>
                            <div class="c-home__current__show__detail">
                                <div class="c-home__current__show__image">
                                    {% set image = entry.showMainImage.one() %}
                                    {% set imageResizes = [{ width: 350, height: 350, mode: 'crop', position: image.getFocalPoint() }] %}
                                    {% set srcSizes = '350px' %}
                                    {% include '_partials/image' %}
                                </div>
                                <div class="c-home__current__show__summary">
                                    <div>
                                        {{ entry.showSummary | typogrify }}
                                        <p class="learn-more">Learn More</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>

        {% set entries = craft.entries.section('pages').type('specialEvent').all() %}
        {% if entries | length %}
            <section class="c-home__events">
                <h2>Special Events</h2>
                <div class="c-home__events__container">
                    {% for entry in entries %}
                        <a href="{{ entry.url }}" class="c-home__events__event">
                            <div class="c-home__events__event__image">
                                {% set image = entry.specialEventMainImage.one() %}
                                {% set imageResizes = [{ width: 200, height: 200, mode: 'crop', position: image.getFocalPoint() }] %}
                                {% set srcSizes = '200px' %}
                                {% include '_partials/image' %}
                            </div>
                            <div class="c-home__events__event__detail">
                                <h3>{{ entry.title }}</h3>
                                {% if entry.specialEventDate | length %}
                                    <p class="date">{{ entry.specialEventDate | date('full') }}</p>
                                {% else %}
                                    <p class="date">Date to be announced.</p>
                                {% endif %}
                                {{ entry.specialEventSummary | typogrify }}
                                <p class="learn-more">Learn More</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </section>
        {% endif %}

        {% if entry.homeCarouselImages | length %}
            <section class="c-home__carousel">
                <div class="c-home__carousel__container">
                    {% for image in entry.homeCarouselImages.all() %}
                        <div>
                            {% set imageResizes = [{ width: 400, height: 400, mode: 'crop', position: image.getFocalPoint() }] %}
                            {% set srcSizes = '400px' %}
                            {% include '_partials/image' %}
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </main>
    <script src="{{ mix('js/home.js') }}"></script>
{% endblock %}
