{% extends "_layout" %}
{% block content %}
{% set seasonsCat = craft.categories().group('seasons').limit(1).all() %}
    <main id="main" class="c-home{% if cookieVisited != 'yes' %} c-home--animate{% endif %}">
        <h1 class="accessibility-only">Home</h1>
        <section class="c-home__current">
            <div class="c-hero">
                <div class="c-hero__container">
                        <div class="c-hero__image">
                            {% if entry.homeHeroImage | length %}
                                {% set image = entry.homeHeroImage.one() %}
                            {% else %}
                                {% set image = entry.seasonImage.one() %}
                            {% endif %}
                            {% set imageResizes = [{ width: 1200, height: 400, mode: 'crop', position: image.getFocalPoint() }, { width: 600, height: 200, mode: 'crop', position: image.getFocalPoint() }] %}
                            {% set srcSizes = '(max-width: 640px) 640px, (max-width: 768) 768px, 1100px' %}
                            {% include '_partials/image' %}
                        </div>
                        {% for entry in seasonsCat %}
                        <div class="c-hero__copy">
                            <h2>Season {{ entry.title }}{% if entry.seasonTheme | length %}: {{ entry.seasonTheme }}{% endif %}</h2>
                            {% if entry.seasonSummary | length %}{{ entry.seasonSummary }}{% endif %} <a href="{{ entry.url }}" alt="Learn more about season {{ entry.title }}">Learn&nbsp;More</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="c-home__current__shows">
                {% set entries = craft.entries.relatedTo(seasonsCat).all() %}
                {% for entry in entries %}
                    <div class="c-home__current__show
                    {% if entry.showStartDate %}
                        {% if entry.showStartDate | date("m/d/Y") <= "now" | date("m/d/Y") and entry.showEndDate | date("m/d/Y") >= "now" | date("m/d/Y") %}
                            c-home__current__show--current
                        {% endif %}
                    {% endif %}
                    ">
                        <a class="c-home__current__show__main" href="{{ entry.url }}" alt="Learn more about {{ entry.title }}">
                            <div class="c-home__current__show__title">
                                <h3>{{ entry.title | typogrify }}</h3>
                                {% if entry.showStartDate | length %}
                                    <p class="date">{{ entry.showStartDate | date }}&ndash;{{ entry.showEndDate | date }}</p>
                                {% else %}
                                    <p class="date">Check back for dates!</p>
                                {% endif %}
                            </div>
                            <div class="c-home__current__show__detail">
                                <div class="c-home__current__show__image">
                                    {% set image = entry.showMainImage.one() %}
                                    {% set imageResizes = [{ width: 350, height: 350, mode: 'crop', position: image.getFocalPoint() }] %}
                                    {% set srcSizes = '350px' %}
                                    {% include '_partials/image' %}
                                </div>
                                <div class="c-home__current__show__summary">
                                    <div>
                                        {{ entry.showSummary | typogrify }}
                                        <p aria-hidden="true" class="learn-more">Learn More</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="c-home__current__subscribe">
                <div class="c-home__current__subscribe__container">
                    {% set entries = craft.entries.relatedTo(seasonsCat).one() %}
                    {% if entries.showEndDate | date("m/d/Y") <= "now" %}
                        {% set link = entry.homeSubscriptionLink.one() %}
                        <a class="btn btn--gold" href="{{ link.url }}">Subscribe</a>
                    {% endif %}
                    <a class="btn btn--white" target="_blank" rel="noopener noreferrer" href="{{ vendorLinks.ticketsLink }}">Buy Tickets</a>
                </div>
            </div>
        </section>

        {% set entries = craft.entries.section('pages').type('specialEvent').all() %}
        {% if entries | length or entry.homeAnnouncements | length %}
            <section class="c-home__events">
                <div class="c-home__events__container">
                    {% for entry in entries %}
                        <a alt="Learn more about {{ entry.title }}" href="{{ entry.url }}" class="c-home__events__event">
                            <div class="c-home__events__event__image">
                                {% set image = entry.specialEventMainImage.one() %}
                                {% set imageResizes = [{ width: 200, height: 200, mode: 'crop', position: image.getFocalPoint() }] %}
                                {% set srcSizes = '200px' %}
                                {% include '_partials/image' %}
                            </div>
                            <div class="c-home__events__event__detail">
                                <h2>Special Event</h2>
                                <h3>{{ entry.title }}</h3>
                                {% if entry.specialEventDate | length %}
                                    <p class="date">{{ entry.specialEventDate | date('full') }}</p>
                                {% else %}
                                    <p class="date">Date to be announced.</p>
                                {% endif %}
                                {{ entry.specialEventSummary | typogrify }}
                                <p aria-hidden="true" class="learn-more">Learn More</p>
                            </div>
                        </a>
                    {% endfor %}
                    {% if entry.homeAnnouncements | length %}
                        {% for block in entry.homeAnnouncements.all() %}
                            {% if block.homeAnnouncementLink | length %}
                                <a href="{{ block.homeAnnouncementLink }}" alt="Learn more about {{ block.homeAnnouncementSubhead }}" class="c-home__events__event">
                            {% else %}
                                <div class="c-home__events__event c-home__events__event--no-hover">
                            {% endif %}
                                <div class="c-home__events__event__image">
                                    {% set image = block.homeAnnouncementImage.one() %}
                                    {% set imageResizes = [{ width: 200, height: 200, mode: 'crop', position: image.getFocalPoint() }] %}
                                    {% set srcSizes = '200px' %}
                                    {% include '_partials/image' %}
                                </div>
                                <div class="c-home__events__event__detail">
                                    <h2>{{ block.homeAnnouncementHead }}</h2>
                                    <h3>{{ block.homeAnnouncementSubhead }}</h3>
                                    {% if block.homeAnnouncementDate | length %}
                                        <p class="date">{{ block.homeAnnouncementDate | date('full') }}</p>
                                    {% endif %}
                                    {{ block.homeAnnouncementCopy | typogrify }}
                                    {% if block.homeAnnouncementLink | length %}
                                        <p aria-hidden="true" class="learn-more">{{ block.homeAnnouncementLinkCopy }}</p>
                                    {% endif %}
                                </div>
                            {% if block.homeAnnouncementLink | length %}
                                </a>
                            {% else %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </section>
        {% endif %}

        {% if entry.homeCarouselImages | length %}
            <section class="c-home__carousel{% if not entries | length and not entry.homeAnnouncements | length %} c-home__carousel--padding-top{% endif %}">
                <div class="c-home__carousel__container">
                    {% for image in entry.homeCarouselImages.all() %}
                        <div>
                            {% set imageResizes = [{ width: 400, height: 400, mode: 'crop', position: image.getFocalPoint() }] %}
                            {% set srcSizes = '400px' %}
                            {% include '_partials/image' %}
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% else %}
            <h1>Where are the images?</h1>
        {% endif %}
    </main>
    <script src="{{ mix('js/home.js') }}"></script>
{% endblock %}
