{% extends "_layout" %}
{% block content %}
    <main id="main" class="c-company">
        <div class="c-company__intro">
            <div class="c-company__intro__container">
                <h1>{{ entry.title }}</h1>
                <p class="subtitle">{{ entry.companySubtitle | striptags }}</p>
                {{ entry.companyIntro | typogrify }}
            </div>
        </div>
        <div class="c-company__nav">
            <div class="c-company__nav__container">
                <ul>
                    {% if entry.companyStaff | length %}
                        <li><a href="#staff">Staff</a></li>
                    {% endif %}
                    <li><a href="#company">Ensemble</a></li>
                    {% if entry.companyBoard | length %}
                        <li><a href="#board">Board of Directors</a></li>
                    {% endif %}
                    {% if entry.companyArtisticAssociates | length %}
                        <li><a href="#associates">Artistic Associates</a></li>
                    {% endif %}
                    {% if entry.companyEmeritusMembers | length %}
                        <li><a href="#emeritus">Emeritus Members</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div id="staff" class="c-company__list">
            <h2>Staff</h2>
            <div class="c-company__members__container">
                {% set entries = craft.entries.section('staff').all() %}
                {% for entry in entries %}
                    <a class="c-company__members__member" href="{{ entry.url }}">
                        <div class="c-company__members__member__image">
                            {% if entry.companyHeadshot | length %}
                                {% set image = entry.companyHeadshot.one() %}
                                {% set imageResizes = [{ width: 200, height: 200, mode: 'crop', position: image.getFocalPoint() }] %}
                                {% set srcSizes = '200px' %}
                                {% include '_partials/image' %}
                            {% endif %}
                        </div>
                        <p>{{ entry.title }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div id="company" class="c-company__members">
            <h2>Ensemble</h2>
            <div class="c-company__members__container">
                {% set entries = craft.entries.section('artists').all() %}
                {% for entry in entries %}
                    {% if entry.companyEnsembleMember %}
                        <a class="c-company__members__member" href="{{ entry.url }}">
                            <div class="c-company__members__member__image">
                                {% set image = entry.companyHeadshot.one() %}
                                {% set imageResizes = [{ width: 200, height: 200, mode: 'crop', position: image.getFocalPoint() }] %}
                                {% set srcSizes = '200px' %}
                                {% include '_partials/image' %}
                            </div>
                            <p>{{ entry.title }}</p>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div id="board" class="c-company__list">
            <h2>Board of Directors</h2>
            <div class="c-company__members__container">
                {% set entries = craft.entries.section('board').all() %}
                {% for entry in entries %}
                    <a class="c-company__members__member" href="{{ entry.url }}">
                        <div class="c-company__members__member__image">
                            {% set image = entry.companyHeadshot.one() %}
                            {% set imageResizes = [{ width: 200, height: 200, mode: 'crop', position: image.getFocalPoint() }] %}
                            {% set srcSizes = '200px' %}
                            {% include '_partials/image' %}
                        </div>
                        <p>{{ entry.title }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>

        <div id="associates" class="c-company__list">
            <h2>Artistic Associates</h2>
            <div class="c-company__list__container">
                {{ entry.companyArtisticAssociates }}
            </div>
        </div>

        <div id="emeritus" class="c-company__list">
            <h2>Emeritus Members</h2>
            <div class="c-company__list__container">
                {{ entry.companyEmeritusMembers }}
            </div>
        </div>
    </main>
{% endblock %}
