{% extends "_layout" %}
{% block content %}

    <main id="main" class="c-season">
        {% set seasonsCat = craft.categories().group('seasons').limit(1).all() %}
        {% include '_partials/page/season-hero' %}

        {% set cat = craft.categories().group('seasons').one() %}
        {% set filter = craft.categories.slug(cat.title) %}
        {% set entries = craft.entries.section('shows').relatedTo(filter).all() %}
        {% include '_partials/page/show-grid' %}
    </main>
{% endblock %}
