{% extends "_layout" %}
{% block content %}
    <main id="main" class="c-group-sales">
        <div class="c-hero">
            <div class="c-hero__container">
                <div class="c-hero__image">
                    {% set image = entry.groupSalesHeroImage.one() %}
                    {% set imageResizes = [{ width: 1200, height: 400, mode: 'crop', position: image.getFocalPoint() }, { width: 600, height: 200, mode: 'crop', position: image.getFocalPoint() }] %}
                    {% set srcSizes = '(max-width: 640px) 640px, (max-width: 768) 768px, 1100px' %}
                    {% include '_partials/image' %}
                </div>
                <div class="c-hero__copy">
                    <h1>{{ entry.title }}</h1>
                </div>
            </div>
        </div>
        <div class="c-group-sales__container">
            <div class="c-group-sales__why">
                {{ entry.groupSalesWhy | typogrify }}
            </div>
            <div class="c-group-sales__copy">
                {{ entry.groupSalesCopy | typogrify }}
            </div>
        </div>
    </main>
{% endblock %}
