{% extends "_layout" %}
{% block content %}
    <h1>Past Seasons</h1>

    <div>
        {% set cats = craft.categories().group('seasons').offset(1).all() %}

        {% for cat in cats %}
            {% set filter = craft.categories.slug(cat.title) %}
            <h2>Season {{ cat.title }}</h2>
            {% set shows = craft.entries.section('shows').relatedTo(filter).all() %}
            {% for show in shows %}
                {% set showMainImage = show.showMainImage.one() %}
                {% if showMainImage | length %}
                    <div>
                        <img src="{{ showMainImage.url }}" alt="{{ showMainImage.title }}" />
                    </div>
                {% endif %}
                <a href="{{ show.url }}">{{ show.title }}</a>
                {{ show.showSummary }}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
