{% extends "_layout" %}
{% block content %}

    <main id="main" class="c-show">
        <div class="c-hero">
            <div class="c-hero__container">
                <div class="c-hero__image">
                    {% set image = entry.specialEventMainImage.one() %}
                    {% set imageResizes = [{ width: 1200, height: 400, mode: 'crop', position: image.getFocalPoint() }, { width: 600, height: 200, mode: 'crop', position: image.getFocalPoint() }] %}
                    {% set srcSizes = '(max-width: 640px) 640px, (max-width: 768) 768px, 1100px' %}
                    {% include '_partials/image' %}
                </div>
                <div class="c-hero__copy">
                    <h1>{{ entry.title }}</h1>
                </div>
            </div>
        </div>

        {% if image.photoCredit | length %}
            <div class="c-hero__credit">
                <span class="photo-credit">Photo credit: {{ image.photoCredit }}</span>
            </div>
        {% endif %}

        <div class="c-show__detail">
            <div class="c-show__detail__info">
                {% if entry.specialEventDates | length %}
                    {% for block in entry.specialEventDates.all() %}
                        <p>{{ block.specialEventDate|date('l, M j, Y') }}<br />{{ block.specialEventStartTime|time('short') }}&ndash;{{ block.specialEventEndTime|time('short') }}</p>
                    {% endfor %}
                {% else %}
                    <p>Date to be announced.</p>
                {% endif %}

                {% for block in entry.specialEventDates.inReverse().limit(1).all() %}
                    {% set endDate = block.specialEventDate %}
                    {% if endDate|date('l, M j, Y') < endDate %}
                        <p>{{ entry.specialEventPrice }}</p>
                        {% if entry.specialEventPurchaseLink | length %}
                            <a class="btn" target="_blank" rel="noopener noreferrer" href="{{ entry.specialEventPurchaseLink }}">Buy Tickets</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}


                {#
                {{ entry.specialEventDate|date('l, M j, Y') }}

                {% set currentDate = "now"|date('Y-m-d') %}
                {% set endDate = entry.specialEventDate|date('Y-m-d') %}

                {% if currentDate < endDate %}
                    <span class="times">{{ entry.specialEventStartTime|time('short') }} &ndash; {{ entry.specialEventEndTime|time('short') }}</span>
                    <p>{{ entry.specialEventPrice }}</p>
                    {% if entry.specialEventPurchaseLink | length %}
                        <a class="btn" target="_blank" rel="noopener noreferrer" href="{{ entry.specialEventPurchaseLink }}">Buy Tickets</a>
                    {% endif %}
                {% endif %}
                #}
            </div>
            <div class="c-show__detail__description">
                {{ entry.specialEventDescription | typogrify }}
            </div>
        </div>
    </main>

{% endblock %}
