{% extends "_layout" %}
{% block content %}
    <h1>Special Events</h1>
    {% set entries = craft.entries.section('specialEvents').all() %}
    {% for entry in entries %}
        <div>
            {% set eventMainImage = entry.specialEventMainImage.one() %}
            {% if eventMainImage | length %}
                <div>
                    <img src="{{ eventMainImage.url }}" alt="{{ eventMainImage.title }}" />
                </div>
            {% endif %}
            <a href="{{ entry.url }}">{{ entry.title }}</a>
            <p>{{ entry.specialEventDate | date('full') }}{% if entry.specialEventStartTime | length %}, {{ entry.specialEventStartTime | time('short') }} &ndash;  {{ entry.specialEventEndTime | time('short') }}{% endif %}</p>
            {{ entry.specialEventSummary }}
        </div>
    {% endfor %}
{% endblock %}
