{% extends "_layout" %}
{% block content %}
    <main id="main" class="c-visit">
        <div class="c-visit__container">
            <div class="c-visit__nav">
                <span class="sticky">
                    <nav>
                        {{ entry.visitSidebarLinks | typogrify }}
                    </nav>
                </span>
            </div>
            <div class="c-visit__details">
                {{ entry.visitCopy | typogrify }}
            </div>
        </div>
    </main>
{% endblock %}
