.c-footer {
    background-color: $black;

    &__container {
        @include container(1100);
        display: flex;
        justify-content: space-between;
        padding: 2em 0;

        @include breakpoint('tablet') {
            flex-wrap: wrap;
        }
    }

    &__nav {

        @include breakpoint('tablet') {
            flex: 0 0 50%;
            text-align: center;
        }

        @include breakpoint('mobile') {
            flex: 0 0 100%;
            order: 1;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            display: block;
            list-style: none;
            margin: 0 0 .25em 0;

            a {
                display: inline-block;
                @include font-bold;
                @include font-size(13);
                text-decoration: none;
                text-transform: uppercase;
                color: $white;
                padding: .5em 0;

                &:hover {

                    &::after {
                        background-color: $gold;
                    }
                }

                &::after {
                    content: '';
                    display: block;
                    height: 2px;
                    margin-top: 1px;
                    background-color: transparent;
                    transition: background-color .3s ease;
                }
            }

            ul {

                li {
                    display: none;
                }
            }
        }
    }

    &__newsletter {
        flex: 0 0 700px;
        display: flex;
        justify-content: center;
        color: $white;
        padding-left: 100px;

        @include breakpoint('tablet') {
            flex: 0 0 100%;
            order: 3;
            text-align: center;
            margin-top: 2em;
            padding-left: 0;
        }

        @include breakpoint('mobile') {
            order: 2;
            margin: 2em auto 3em auto;
        }

        .newsletter-copy {
            max-width: 300px;
            @include font-size(15);
            margin: 0 100px 1em 0;

            @include breakpoint('tablet') {
                margin-right: 0;
            }
        }

        input[type="email"] {
            display: inline-block;
            width: 100%;
            max-width: 250px;
            @include font-size(15);
            margin: 0 .5em 0 0;
            padding: .5em 1em;
            border: 0;
            border-radius: 0;
            appearance: none;

            @include breakpoint('tablet') {
                margin-bottom: 1em;
            }
        }

        input[type="submit"] {
            display: inline-block;
            @include font-size(15);
            padding: .5em 1em;
            background-color: $gold;
            border-radius: 0;
            appearance: none;
            transition: background-color .3s ease;

            @include breakpoint('mobile') {
                margin-top: .5em;
            }

            &:hover {
                background-color: $black-60;
                cursor: pointer;
            }
        }

        .error  {
            display: none;

            p {
                @include font-bold;
                @include font-size(14);
            }
        }
    }

    &__info {

        @include breakpoint('tablet') {
            flex: 0 0 50%;
            order: 2;
            text-align: center;
        }

        @include breakpoint('mobile') {
            flex: 0 0 100%;
        }

        p {
            @include font-size(14);
            color: $white;
            margin: 0;
        }

        a {
            @include font-regular;
            color: $white;
            text-decoration: none;
        }

        ul {
            margin: 1em 0 0 0;
            padding: 0;
        }

        li {
            display: inline-block;
            list-style: none;
            margin-right: 1em;

            &:hover {

                svg {

                    &:hover {
                        fill: $black-60;
                    }
                }
            }

            svg {
                fill: $white;
                transition: fill .3s ease;
            }
        }

        .name {
            @include font-bold;
            text-transform: uppercase;
        }
    }

    &__small {
        background-color: $white;

        @include breakpoint('mobile') {
            padding: 1em 0;
        }

        &__container {
            @include container(1100);
            text-align: center;

            p {
                display: inline-block;
                @include font-size(12);
                text-align: right;
                margin: .5em 1em;

                @include breakpoint('mobile') {
                    display: block;
                    text-align: center;
                    margin: 0 auto .5em auto;
                }
            }

            a {
                @include font-regular;
                text-decoration: underline;
                color: $black;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
