.c-company-member {

    .c-hero__copy {
        padding: 2em;
    }

    .c-hero__image {

        img {

            @include breakpoint('mobile') {
                object-position: center;
            }
        }
    }


    &__detail {

        &__container {
            @include container(1100);
            display: flex;
            padding: 4em 0;

            @include breakpoint('mobile') {
                flex-wrap: wrap;
                padding: 3em 0 1em 0;
            }
        }

        &__side {
            flex: 0 0 30%;
            text-align: center;
            padding-right: 2em;

            @include breakpoint('tablet') {
                padding-right: 1em;
            }

            @include breakpoint('mobile') {
                flex: 0 0 100%;
            }

            img {
                width: 100%;
                max-width: 200px;
                margin-bottom: 1em;
                border-radius: 50%;
            }

            h2 {
                @include font-size(20);
                margin-top: 1em;

                &:nth-of-type(2) {
                    margin-top: 2em;
                }
            }

            p {
                @include font-size(15);
            }

            strong {
                @include font-bold;
                @include font-size(16);
                text-transform: uppercase;
            }
        }

        &__bio {
            max-width: 600px;
            margin-left: 1em;

            @include breakpoint('mobile') {
                flex: 0 0 100%;
                margin-left: 0;
            }

            p {
                max-width: 600px;
                margin-right: 2em;

                @include breakpoint('mobile') {
                    margin-right: 0;
                }
            }

            em {
                font-style: normal;
                text-transform: uppercase;
            }
        }
    }

    &__shows {
        display: flex;
        margin-top: 2em;

        @include breakpoint('mobile') {
            flex-wrap: wrap;
            margin-bottom: 2em;
        }

        h2 {
            @include font-size(18);
        }

        &__cast {
            flex: 0 0 calc(50% - 1em);
            margin-right: 1em;

            @include breakpoint('mobile') {
                flex: 0 0 100%;
                margin-right: 0;
            }
        }

        &__crew {
            flex: 0 0 calc(50% - 1em);
            margin-left: 1em;

            @include breakpoint('mobile') {
                flex: 0 0 100%;
                margin-left: 0;
            }
        }
    }
}
