.c-footer {
    background-color: $black;

    &__container {
        @include container(1100);
        display: flex;
        justify-content: space-between;
        padding: 2em 0;
    }

    &__nav {

        ul {
            margin: 0;
            padding: 0;
        }

        li {
            display: block;
            list-style: none;
            margin: 0 0 .5em 0;

            a {
                @include font-bold;
                @include font-size(13);
                text-decoration: none;
                text-transform: uppercase;
                color: $white;

                &:hover {

                    &::after {
                        background-color: $gold;
                    }
                }

                &::after {
                    content: '';
                    display: block;
                    height: 2px;
                    margin-top: 1px;
                    background-color: transparent;
                    transition: background-color .3s ease;
                }
            }

            ul {

                li {
                    display: none;
                }
            }
        }
    }

    &__info {

        p {
            @include font-size(14);
            color: $white;
            margin: 0;
        }

        a {
            color: $white;
            text-decoration: none;
        }

        ul {
            margin: 1em 0 0 0;
            padding: 0;
        }

        li {
            display: inline-block;
            list-style: none;
            margin-right: 1em;

            &:hover {

                svg {

                    &:hover {
                        fill: $black-60;
                    }
                }
            }

            svg {
                fill: $white;
                transition: fill .3s ease;
            }
        }

        .name {
            @include font-bold;
            text-transform: uppercase;
        }
    }

    &__small {
        background-color: $white;

        @include breakpoint('mobile') {
            padding: .5em 0;
        }

        &__container {
            @include container(1100);
            text-align: center;

            p {
                display: inline-block;
                @include font-size(13);
                text-align: right;
                margin: .5em 1em;

                @include breakpoint('mobile') {
                    margin: 0;
                }
            }

            a {
                text-decoration: underline;
                color: $black;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
