.c-contact {

    &__container {
        @include container(1100);
        display: flex;
        padding: 4em 0 3em 0;

        @include breakpoint('tablet') {
            padding: 3em 0 2em 0;
        }

        @include breakpoint('mobile') {
            flex-wrap: wrap;
        }
    }

    &__info {
        flex: 0 0 25%;

        @include breakpoint('mobile') {
            flex: 0 0 100%;
            order: 2;
            margin-bottom: 1em;
        }

        h2 {
            margin: 1.5em 0 .25em 0;

            &:first-of-type {
                margin-top: 0;
            }
        }

        a {
            @include font-medium;
        }
    }

    &__form {
        max-width: 600px;
        margin-left: 3em;

        @include breakpoint('mobile') {
            flex: 0 0 100%;
            order: 1;
            margin-bottom: 2em;
        }
    }
}
