.c-current-season {

    &__current {
        background-color: $gold;

        &__season {
            position: relative;
            @include container(1100);
            height: 400px;

            @include breakpoint('mobile') {
                height: auto;
            }

            &__image {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;

                @include breakpoint('mobile') {
                    position: relative;
                    top: 0;
                    height: 250px;
                    transform: translateY(0);
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top center;

                    @include breakpoint('mobile') {
                        object-position: top left;
                    }
                }
            }

            &__copy {
                position: absolute;
                top: 50%;
                right: 0;
                width: 50%;
                padding: 1.5em 2em 2em 2em;
                background-color: $black;
                transform: translateY(-50%);
                z-index: 10;

                @include breakpoint('mobile') {
                    position: relative;
                    top: 0;
                    width: 100%;
                    transform: translateY(0);
                    padding: 1.5em 0;
                }

                h1 ,
                p {
                    color: $white;
                }

                h1 {
                    @include font-size(24);
                    letter-spacing: .025em;
                    text-transform: uppercase;
                    margin: 0;
                }

                p {
                    display: inline;
                    @include font-size(16);
                    margin: 0;
                }

                a {
                    @include font-bold;
                    @include font-size(13);
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $gold;
                    padding-left: 1em;
                    transition: color .3s ease;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }

        &__shows {
            @include container(1100);
            display: flex;
            justify-content: center;
            background-color: $black;

            @include breakpoint('tablet') {
                flex-wrap: wrap;
                padding: 1em 0;
            }
        }

        &__show {
            position: relative;
            flex: 0 0 25%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: center;
            color: $white;
            padding: 2.25em;
            background-color: $black;

            @include breakpoint('tablet') {
                flex: 0 0 50%;
                padding: 2.25em;
            }

            @include breakpoint('mobile') {
                flex: 0 0 100%;
                padding: 0 0 3em 0;
            }

            &--current {

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: 0;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-top: 15px solid $white;

                    @include breakpoint('tablet') {
                        display: none;
                    }
                }
            }

            a {
                color: $white;
                text-decoration: none;
            }

            &__main {

                &:hover {

                    .c-home__current__show__summary {
                        opacity: 1;
                    }
                }
            }

            &__title {

                p {
                    @include font-size(14);
                    margin: .25em 0 1.5em 0;
                }
            }

            &__detail {
                position: relative;

            }

            &__image {

                @include breakpoint('tablet') {
                    margin-bottom: 1em;
                }

                @include breakpoint('mobile') {
                    padding: 0 4em;
                }

                img {
                    border-radius: 50%;
                }

            }

            &__summary {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $black;
                opacity: 0;
                transition: opacity .3s ease;

                @include breakpoint('tablet') {
                    position: relative;
                    height: 135px;
                    opacity: 1;
                }

                @include breakpoint('mobile') {
                    height: auto;
                }

                p {
                    @include font-size(16);
                    margin: 0;
                }

                .learn-more {
                    @include font-bold;
                    @include font-size(14);
                    text-transform: uppercase;
                    color: $gold;
                    margin: 1em 0 0 0;
                    transition: color .3s ease;

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }

    &__events {
        background-color: $white;
        padding: 4em 0;

        @include breakpoint('tablet') {
            padding: 3em 0 0 0;
        }

        h2 {
            text-align: center;
            margin: 0 0 1.5em 0;
        }

        &__container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            @include container(1100);
        }

        &__event {
            flex: 0 0 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-decoration: none;
            color: $black;
            margin-bottom: 3em;

            @include breakpoint('tablet') {
                flex: 0 0 100%;
                margin-bottom: 2em;
            }

            @include breakpoint('mobile') {
                flex-wrap: wrap;
                margin-bottom: 3em;
            }

            &:hover {

                img {
                    border-color: $gold;
                }
            }

            &__image {
                flex: 0 0 50%;
                padding: 0 1.5em;

                @include breakpoint('tablet') {
                    flex: 0 0 40%;
                }

                @include breakpoint('mobile') {
                    flex: 0 0 100%;
                    padding: 0 4em;
                }

                img {
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    border: 4px solid transparent;
                    border-radius: 50%;
                    transition: border-color .3s ease;
                }
            }

            &__detail {
                flex: 0 0 50%;
                padding: 0 2.25em 0 0;

                @include breakpoint('tablet') {
                    flex: 0 0 60%;
                }

                @include breakpoint('mobile') {
                    flex: 0 0 100%;
                    text-align: center;
                    margin-top: 1em;
                    padding: 0;
                }

                h3 {
                    margin: 0 0 .5em 0;
                }

                p {
                    margin: 0;
                }

                .date {
                    margin-bottom: .5em;
                }

                .learn-more {
                    display: block;
                    @include font-bold;
                    @include font-size(13);
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $gold;
                    margin: 1em 0 0 0;
                    transition: color .3s ease;

                    &:hover {
                        color: $black;
                    }
                }
            }
        }
    }
}
