.c-show {
    margin-bottom: 4em;

    h1 {
        margin: 0;
    }

    .asterisk {
        margin-left: .05em;
        vertical-align: 2px;
    }

    .c-hero__copy {
        padding: 2em;
    }

    &__hero-credit {
        @include container(1100);
        text-align: right;

        .photo-credit {
            display: block;
            @include font-size(11);
            margin-top: .5em;

            p {
                display: inline;
                @include font-size(11);
            }
        }
    }

    &__detail {
        @include container(1100);
        display: flex;
        margin-top: 2em;
        padding: 4em 0;

        @include breakpoint('mobile') {
            flex-wrap: wrap;
        }

        &__info {
            flex: 0 0 20%;

            @include breakpoint('mobile') {
                flex: 0 0 100%;
            }

            p {
                margin: 0 0 1em 0;
            }

            .by {
                display: block;
                @include font-medium;
                text-transform: uppercase;
                margin-bottom: 1em;

                p {
                    margin: 0 0 .25em 0;
                }
            }

            .season {
                @include font-medium;
                 margin-bottom: 0;
            }

            .times {
                display: block;
                margin-bottom: 2.5em;
            }

            .btn {
                @include font-size(16);
                text-decoration: none;
                margin-top: 0;
                background-color: $gold;
                transition: background-color .3s ease;

                &:hover {
                    background-color: $black-60;
                }
            }
        }

        &__description {
            margin-left: 4em;

            @include breakpoint('mobile') {
                flex: 0 0 100%;
                margin-top: 2em;
            }

            p {
                max-width: 600px;
                line-height: 2;
                margin: 0 0 1em 2em;

                @include breakpoint('mobile') {
                    margin-left: 0;
                }
            }

            em {
                font-style: normal;
                text-transform: uppercase;
            }
        }
    }

    &__reviews {
        background-color: $gold;
        padding: 2em 0;

        &__container {
            @include container(1100);
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        &__item {
            flex: 0 0 50%;
            margin: 1em 0;

            @include breakpoint('mobile') {
                flex: 0 0 100%;
            }

            p {
                @include font-medium;
                margin: 0 1em;
            }
        }
    }

    &__cast {
        margin: 4em 0;

        @include breakpoint('tablet') {
            margin: 2em 0;
        }

        h2 {
            text-align: center;
            margin-bottom: -.5em;
        }

        .ensemble {

            &:hover {
                text-decoration: none;

                img {
                    border-color: $gold;
                }
            }
        }

        &__container {
            @include container(1100);
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        &__member {
            flex: 0 0 25%;
            text-align: center;
            text-decoration: none;
            color: $black;
            padding: 2em;

            @include breakpoint('tablet') {
                flex: 0 0 33.33%;
            }

            @include breakpoint('mobile') {
                flex: 0 0 100%;
                padding: 1em 2em;
            }

            img {
                margin-bottom: 1em;
                border: 4px solid transparent;
                border-radius: 50%;
                transition: border-color .3s ease;
            }

            p {
                margin: 0;
            }

            .cast-member {
                @include font-medium;
                text-transform: uppercase;
            }

            .strawdog {
                color: $gold;
            }
        }
    }

    &__crew {
        text-align: center;

        h2 {
            margin: 0 0 1em 0;
        }

        &__container {
            @include container(1100);
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            p {
                @include font-size(15);
                flex: 0 0 20%;
                margin: 0 0 2em 0;
                padding: 0 1em;

                @include breakpoint('tablet') {
                    flex: 0 0 33.33%;
                }

                @include breakpoint('mobile') {
                    flex: 0 0 50%;
                }
            }

            a {
                color: $gold;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            .crew-member {
                @include font-medium;
                text-transform: uppercase;
            }
        }
    }

    &__asterisk {
        @include container(1100);
        @include font-size(14);
        text-align: center;
        margin-top: 2em;
    }
}
