.c-press {

    &__main {
        @include container(600);
        padding: 4em 0 3em 0;

        @include breakpoint('tablet') {
            padding: 3em 0 2em 0;
        }

        @include breakpoint('mobile') {
            flex-wrap: wrap;
            padding-top: 0;
        }

        h2 {
            @include font-size(20);
            text-transform: none;
            margin: 0 0 .5em 0;
        }
    }

    &__entry {
        margin-bottom: 3em;
    }

    &__pagination {
        text-align: center;
        margin-top: 2em;

        a {
            color: $dark-gold;
            padding: 0 .5em;
            text-decoration: none;

            &:hover {
                color: $black;
            }
        }

        svg {
            display: inline-block;
            width: 12px;
            height: 12px;
            fill: $white;
        }

        .current {
            position: relative;
            color: $black;
            margin: 0 .5em;

            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                width: 26px;
                height: 26px;
                content: '';
                margin-top: 2px;
                transform: translate(-50%, -50%);
                z-index: -10;
            }
        }

        .pagination-arrow {
            position: relative;
            display: inline-block;
            align-items: center;
            width: 24px;
            height: 24px;
            vertical-align: -6px;

            &:hover {
                cursor: default;
            }

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                vertical-align: -2px;
            }

            &.active {

                &:hover {
                    cursor: pointer;
                }

                svg {
                    fill: $gold;
                }
            }
        }
    }
}
