.c-group-sales {

    &__container {
        @include container(1100);
        display: flex;
        padding: 4em 0;

        @include breakpoint('mobile') {
            flex-wrap: wrap;
            padding: 3em 0 1em 0;
        }
    }

    &__why {
        flex: 0 0 30%;

        @include breakpoint('mobile') {
            flex: 0 0 100%;
        }

        p {
            margin: 0 0 1em 0;
        }
    }

    &__sticky {
        position: sticky;
        top: 2em;

        @include breakpoint('mobile') {
            position: relative;
            top: 0;
        }
    }

    &__copy {
        margin-left: 4em;

        @include breakpoint('mobile') {
            flex: 0 0 100%;
            margin-left: 0;
        }

        h2 {
            max-width: 600px;
            margin: 1em 0 .5em 0;
        }

        p {
            max-width: 600px;
            margin: 0 0 1em 0;
        }
    }
}
