.c-past-seasons {

    &__main {
        padding: 2em 0;

        @include breakpoint('tablet') {
            padding: 4em 0;
        }

        &__container {
            @include container(1100);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2em 0;

            @include breakpoint('tablet') {
                flex-wrap: wrap;
                margin-bottom: 4em;
                padding: 1em 0;
            }

            @include ie {
                justify-content: flex-start;
            }
        }

        &__season {
            flex: 0 0 175px;

            @include breakpoint('tablet') {
                flex: 100%;
            }

            h2,
            p {
                text-align: right;
                margin: 0 48px 0 0;

                @include breakpoint('tablet') {
                    text-align: center;
                    margin-right: 0;
                }
            }

            h2 {
                @include font-bold;
                @include font-size(18);
                margin-top: -2em;
            }
        }

        &__shows {
            flex: 0 0 calc(100% - 175px);
            display: flex;
            flex-wrap: wrap;

            @include breakpoint('tablet') {
                justify-content: center;
                flex: 100%;
            }
        }

        &__show {
            flex: 0 0 25%;
            text-align: center;
            margin-bottom: 2em;

            @include breakpoint('tablet') {
                flex: 0 0 33.33%;
                margin-top: 1em;
                margin-bottom: 1em;
            }

            @include breakpoint('mobile') {
                flex: 0 0 50%;
            }

            @include ie {
                display: block;
                flex: 0 0 225px;
            }

            &:hover {
                text-decoration: none;

                img {
                    border-color: $dark-gold;
                }
            }

            img {
                display: block;
                width: calc(100% - 3.5em);
                margin: 0 auto .5em auto;
                border: 4px solid transparent;
                border-radius: 50%;
                transition: border-color .3s ease;

                @include breakpoint('laptop') {
                    width: calc(100% - 2em);
                }

                @include breakpoint('tablet') {
                    width: calc(100% - 3em);
                }

                @include breakpoint('tablet') {
                    width: calc(100% - 2em);
                }
            }

            h3 {
                @include font-medium;
                @include font-size(13);
                color: $dark-gold;
                margin: 0 1em;
                transition: color .3s ease;
            }
        }
    }

    &__pagination {
        text-align: center;
        margin-top: 2em;

        a {
            color: $dark-gold;
            padding: 0 .5em;
            text-decoration: none;

            &:hover {
                color: $black;
            }
        }

        svg {
            display: inline-block;
            width: 12px;
            height: 12px;
            fill: $white;
        }

        .current {
            position: relative;
            color: $black;
            margin: 0 .5em;

            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                display: block;
                width: 26px;
                height: 26px;
                content: '';
                margin-top: 2px;
                transform: translate(-50%, -50%);
                z-index: -10;
            }
        }

        .pagination-arrow {
            position: relative;
            display: inline-block;
            align-items: center;
            width: 24px;
            height: 24px;
            vertical-align: -6px;

            &:hover {
                cursor: default;
            }

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                vertical-align: -2px;
            }

            &.active {

                &:hover {
                    cursor: pointer;
                }

                svg {
                    fill: $gold;
                }
            }
        }
    }
}
