.c-past-seasons {

    &__main {
        padding: 2em 0;

        @include breakpoint('tablet') {
            padding: 4em 0;
        }

        &__container {
            @include container(1100);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2em 0;

            @include breakpoint('tablet') {
                flex-wrap: wrap;
                margin-bottom: 4em;
                padding: 1em 0;
            }
        }

        &__season {
            flex: 0 0 20%;

            @include breakpoint('tablet') {
                flex: 100%;
            }

            h2,
            p {
                text-align: right;
                margin: 0 48px 0 0;

                @include breakpoint('tablet') {
                    text-align: center;
                    margin-right: 0;
                }
            }

            h2 {
                @include font-bold;
                @include font-size(18);
                margin-top: -2em;
            }
        }

        &__shows {
            flex: 0 0 80%;
            display: flex;
            flex-wrap: wrap;

            @include breakpoint('tablet') {
                justify-content: center;
                flex: 100%;
            }
        }

        &__show {
            flex: 0 0 25%;
            text-align: center;

            @include breakpoint('tablet') {
                flex: 0 0 33.33%;
                margin-top: 1em;
                margin-bottom: 1em;
            }

            @include breakpoint('mobile') {
                flex: 0 0 50%;
            }

            &:hover {
                text-decoration: none;

                img {
                    border-color: $gold;
                }
            }

            img {
                display: block;
                width: calc(100% - 2.5em);
                margin: 0 auto .5em auto;
                border: 4px solid transparent;
                border-radius: 50%;
                transition: border-color .3s ease;

                @include breakpoint('tablet') {
                    width: calc(80% - 2em);
                }

                @include breakpoint('tablet') {
                    width: calc(100% - 2em);
                }
            }

            h3 {
                @include font-medium;
                @include font-size(13);
                color: $gold;
                margin: 0 1em;
                transition: color .3s ease;
            }
        }
    }

    &__pagination {
        text-align: center;
        margin-top: 2em;

        &__container {
            @include container(1100);
            @include font-size(12);

            a {
                @include font-regular;
                text-transform: uppercase;
                color: $gold;
                padding: 0 .5em;

                &:hover {
                    text-decoration: underline;
                }
            }

            .page-arrow {
                @include font-size(28);
                vertical-align: -2px;
            }

            .current {
                padding: 0 .5em;
            }

            .prev {
                margin-left: 0;

                &::after {
                    content: '...';
                    color: $black;
                    margin-right: -1em;
                    margin-left: 1em;
                }
            }

            .next {
                margin-right: 0;

                &::before {
                    content: '...';
                    color: $black;
                    margin-right: 1em;
                    margin-left: -1em;
                }
            }
        }
    }
}
