/* container with justified content */
@mixin container($max-width) {
	width: calc(100% - 64px);
	max-width: $max-width + px;
	margin: 0 auto;

	@include breakpoint('mobile') {
		width: calc(100% - 48px);
	}
}

/* container without side padding */
@mixin container-no-padding($max-width) {
	width: 100%;
	max-width: $max-width + px;
	margin: 0 auto;
}

/* container with center-, left- or right-aligned content */
@mixin container-aligned ($max-width, $item-margin) {
	width: calc(100% - 64px);
	max-width: calc($max-width + $item-margin);
	margin: 0 auto;

	@include breakpoint('mobile') {
		width: calc(100% - 48px);
	}
}
