@font-face {
    font-family: 'robotolight';
    src: url('/assets/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotomedium';
    src: url('/assets/fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotobold';
    src: url('/assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@mixin font-regular {
    font-family: 'robotolight', sans-serif;
    font-weight: 300;
}

@mixin font-medium {
    font-family: 'robotomedium', sans-serif;
    font-weight: 500;
}

@mixin font-bold {
    font-family: 'robotobold', sans-serif;
    font-weight: 700;
}

@mixin font-size($sizeValue) {
    font-size: $sizeValue / 16 + rem;
}
