@font-face {
    font-family: 'robotolight';
    src: url('/assets/fonts/roboto-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fallbacklight';
    src: local('Arial');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('/assets/fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fallbackmedium';
    src: local('Arial Black');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('/assets/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fallbackbold';
    src: local('Arial Black');
    font-weight: 700;
    font-style: normal;
}

@mixin font-regular {
    font-family: 'robotolight', 'fallbacklight';
}

@mixin font-medium {
    font-family: 'robotomedium', 'fallbackmedium';
}

@mixin font-bold {
    font-family: 'robotobold', 'fallbackbold';
}

@mixin font-size($sizeValue) {
    font-size: $sizeValue / 16 + rem;
}
