@mixin font-head {
    font-family: 'Crimson Text', serif;
    font-weight: 700;
}

@mixin font-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    //font-family: 'Lato', sans-serif;
    //font-weight: 300;
}

@mixin font-medium {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    //font-family: 'Lato', sans-serif;
    //font-weight: 700;
}

@mixin font-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    //font-family: 'Lato', sans-serif;
    //font-weight: 900;
}

@mixin font-size($sizeValue) {
    font-size: $sizeValue / 16 + rem;
}
